@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* @tailwind base;
@tailwind components; */
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* You can also set specific elements to use different fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
}

/* Or create utility classes */
.font-quicksand {
  font-family: "Quicksand", sans-serif;
}

.font-roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
}
